#droptarget {
    width: 99%;
    height: 99%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255,255, 0.9);
    outline: 2px dashed black;
    outline-offset: -10px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display:none;
}